<div class="page" >
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Araçlar</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Hakkımızda</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Referanslar</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">İletişim</a></li>
    </ul>
  </nav>
