<app-navi></app-navi>
<div class="container" >
    <div class="col-md-2">
        <app-brand></app-brand>
    </div>
    <div class="row">
        <div class="col-md-8">
            <br><h5>Araçlar</h5>
            <app-car></app-car><br><br>
            <h5>Geçmiş Kayıtlar</h5>
            <app-rental></app-rental><br><br>
            <h5>Müşteriler</h5>
            <app-customer></app-customer><br><br>
            <h5>Kullanıcılar</h5>
            <app-user></app-user>
        </div>
        <div class="col-md-2">
            <br><h5>Renkler</h5>
            <app-color></app-color>
        </div>
    </div>
</div>  
<router-outlet></router-outlet>
